.container{
    width: 1000px;
}
.image{
    width: 200px;
    margin: 30px;
    transition: 2s;
    box-shadow: 8px 8px 15px 3px grey;
}
.container-line{
    display: flex;
}
.container-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image:hover{
    border-radius: 20px;
    transform: scale(1.2);
}